@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.COMMENT a {
  @apply text-orange-400 leading-8 underline;
}


.COMMENT pre {
  @apply bg-neutral-800 text-wrap p-3 my-4 rounded-md leading-8 ;
}
